/* 通用样式 */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 第一块区域 */
.first{
    width: auto;
    height: 950px;
    background: url(./images/1.jpg) no-repeat center/100% 100%;
}
.first .contener{
    width: 900px;
    height: 600px;
    margin: 0 auto ;
    padding-top: 200px;
}
.first .contener h1{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
    font-weight: 100;
}
.first .contener .intro{
    color: white;
    font-size: 15px;
    text-align: center;
    width: 600px;
    display: inline-block;
    padding-left:175px;
    font-weight: 100;
    padding-bottom: 40px;
}
.first .contener .enter{
    border: 1px solid white;
    height: 200px; 
    width: 900px;
}
.first .contener .enter h3{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;  
}
.first .contener .enter span{
    color: white;
    font-size: 10px;
    font-weight: 100px;
    text-align: center;
    opacity: 0.5;
    display: block;
    margin-bottom: 30px;
}
.first .contener .enter .text{
    border: 1px solid white;
    background:none;
    width: 300px;
    height: 40px;
    padding-left: 20px;
    color: white;
}
.first .contener .enter .wrap{
    display: flex;
    justify-content:space-around;
}
.first .contener .enter .wrap .submit{
    width: 100px;
}
/* 第二块区域 */
.second{
    width: auto;
    height: 520px;
}
.second h4{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 35px;
    font-size: 12px;
    font-weight: 500;
}
.second h1{
    text-align: center;
    font-size: 37px;
    font-weight: 100;
    margin-bottom: 55px;
}
.second .section{
    width: 850px;
    margin: 0 auto;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}
.second .section .icion{
    width: 425px;
    height: 175px;
}
.second .section .icion .float-right h5{
    width: 337px;
    line-height: 1.5em;
    font-weight: 300;
    font-size: 17px;
}
.second .section .icion .float-right h3{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 22px;
}
/* 第三部分 */
.third{
    position: relative;
    width: auto;
    height: 650px;
    background: url(./images/1.jpg) no-repeat center/100% 100%;
}
.third .wrap{
    position: absolute;
    width: 1240px;
    height: 450px;
    top: 50%;
    margin-top: -200px;
    right: 0px;
    display: flex;

}
.third .wrap .left{
    width: 40%;
    height: 450px;
}
.third .wrap .left h2{
    color: white;
    font-size: 40px;
    font-weight: 100;
}
.third .wrap .left span{
    color: white;
    font-size: 16px;
    font-weight: 100;
    display: block;
    margin: 40px 0;
}
.third .wrap .left .checj{
    width: 190px;
    height: 40px;
    font-size: 10px;
    border-radius: 2px;
    margin-right: 25px;
}
.third .wrap .left .try{
    width: 190px;
    height: 40px;
    font-size: 10px;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 2px;
}
.third .wrap .right{
    height: 468px;
    width: 60%;
    margin-top: -25px;
    border: 1px solid white;
    border-right: none;
    border-radius: 30px 0 0 30px;
    position: relative;
}
.third .wrap .right .contenter{
    position: absolute;
    background-color: white;
    height: 400px;
    width: 90%;
    right: 0;
    top: 50%;
    margin-top: -200px;
}
.third .wrap .right .contenter h2{
    font-size: 25px;
    color: #005300;
    margin:35px 0 20px 500px;
    
}
.third .wrap .right .contenter h4{
    margin-left: 333px;
    margin-bottom: 40px;
}
.third .wrap .right .contenter .content{
    width: auto;
    display: flex;
    justify-content: space-between;
}
.third .wrap .right .contenter .content .special{
    margin-left: 135px;
}
.third .wrap .right .contenter .content .one{
    border: 1px solid gainsboro;
    height: 235px;
    width: 177px;
}
.third .wrap .right .contenter .content .one h5{
    font-size: 25px;
    color: #005300;
    margin: 15px 10px;
}
.third .wrap .right .contenter .content .one h6{
    font-size: 10px;
    color: #b4b4b4;
    margin-left: 5px;
    line-height: 1.5em;
}
.third .wrap .right .contenter .content .two{
    border: 1px solid gainsboro;
    height: 235px;
    width: 121px
}
.third .wrap .right .contenter .content .two h5{
    font-size: 25px;
    color: #005300;
    margin: 15px 0px 15px 10px;
}
.third .wrap .right .contenter .content .two h6{
    font-size: 10px;
    color: #b4b4b4;
    margin-left: 5px;
    line-height: 1.5em;
}
/* 第四板块 */
.fourth{
    width: auto;
    height: 500px;
    border-bottom: 1px solid gainsboro;
    display: flex;
    align-items: center;
    justify-content:center;
}
.fourth .contenter{
    height: 380px;
    width: 65%;
}
.fourth .contenter h1{
    font-weight: 100;
    font-size: 36px;
    text-align: center;
    margin-top: 42px;
}
.fourth .contenter .syno{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.fourth .contenter .syno h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.fourth .contenter .syno .session{
    width: 255px;
    text-align: center;
    color: gray;
    font-weight: 100;
}
/* 第五板块 */
.fiveth{
    height: 830px;
}
.fiveth .top{
    display: flex;
    width: 1110px;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
    margin-bottom: 40px;
}
.fiveth .top .word{
    width: 250px;
    height: 188px;
    margin-top: 100px;
}
.fiveth .top .word h4{
    font-size: 13px;
    color: gray;
    line-height: 1.5em;
    margin-top: 35px;
}
/* 第六部分 */
.sixth{
    height: 980px;
    border-top:  1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.sixth h2{
    font-size: 25px;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 40px;
}
.sixth h4{
    text-align: center;
    font-size: 13px;
    width: 480px;
    margin-left: 520px;
    margin-bottom: 50px;
}
.sixth .contenter{
    width: 980px;
    height: 720px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: baseline;
    justify-content: space-around;
}
.sixth .contenter .zhezhao{
    background: rgba(0,0,0,0.5);
    height: 339px;
    width: 469px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.sixth .contenter .zhezhao .hezi h3{
    text-align: center;
    font-size: 20px;
}
.sixth .contenter .zhezhao .hezi h5{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 50px;
}


.sixth .contenter .zhezhao .hezi .lable{
    width: 205px;
    display: flex;
    justify-content: space-between;
}
.sixth .contenter .one{
    left: 10px;
}
.sixth .contenter .two{
    right: 10px;
}
.sixth .contenter .three{
    left: 10px;
    bottom: 20px;
}
.sixth .contenter .four{
    right: 10px;
    bottom: 20px;
}
/* 第七板块 */
.seventh{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seventh .contenter{
    width: 950px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.seventh .contenter .password{
    border: 1px solid gainsboro;
    height:500px ;
    width: 45%;
}
.seventh .contenter .password h3{
    text-align: center;
    margin-top: 30px;
}
.seventh .contenter .password .all{
    margin: 0 auto;
    height: 75%;
    width: 60%;
    margin-top: 40px;
}
.seventh .contenter .password .all .mail{
    padding-left: 15px;
    margin-bottom: 35px;
    font-size: 10px;
    width: 256.5px;
    height: 25px;
    border: 1px solid gainsboro;
}
.seventh .contenter .password .all form{
    width: 273px;
    height: 163px;
    margin-bottom: 25px;
    border: 1px solid gainsboro;
    padding: 10px;
    color: gainsboro;
}
.seventh .contenter .password .all .send{
    background-color: black;
    color: white;
    height: 35px;
    width: 277px;
}
.seventh .contenter .contacts{
    height:500px ;
    width: 45%;
    padding-top: 77px;
}
.seventh .contenter .contacts h1{
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 20px;
}
.seventh .contenter .contacts .icon{
    margin-top: 60px;
}
.seventh .contenter .contacts .special{
    margin-top: 30px;
}
.seventh .contenter .contacts .make{
    font-size: 14px;
    font-weight: 100;
}
.seventh .contenter .contacts .icon div{
    display: inline-block;
    line-height: 1.5em;
}
.seventh .contenter .contacts .icon img{
    vertical-align: 8px;
}
/* 第八板块 */
.eighth{
    background-color: black;
    color: white;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.eighth .learn{
    height: 205px;
    width: 145px;
}
.eighth .learn a{
    display: block;
    margin: 20px 0;
}
.eighth .enjory{
    width: 250px;
    height: 205px;
}
.eighth .enjory h3{
    margin-bottom: 35px;
}